@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #e7e7e7;
	font-weight: 700;
}

#wrapper {
	font-family: Manrope, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100vh;
	background-color: #191919;
}

#header,
#about {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#header {
	background: #323232;
	height: 100vh;
}

.type {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.1em solid rgba(255, 255, 255, 0.15); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 1s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 210px;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: rgba(255, 255, 255, 0.15);
	}
}

#down {
	position: absolute;
	bottom: 10px;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.15);
	animation: bounce 1s infinite alternate;
	-webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-15px);
	}
}

@-webkit-keyframes bounce {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-15px);
	}
}

#about {
	background: #121212;
	font-size: 32px;
	text-align: center;
	padding: 5% 0;
}

#about p {
	padding: 0 5%;
}

#about p:last-child {
	padding: 5% 5% 0;
}

#about a {
	color: #0072b1;
	text-decoration: none;
}
